.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #f3f2f0;
  color: #313036;
}

.nav-links{
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  gap: 20px;
}


